.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}

.received {
    background-color: #1660cf;
    align-self: flex-start;
    margin-right: auto;
}
.message {
    max-width: 8%;
    max-height: 5%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    word-wrap: break-word;
}